<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a id="navbarTitle" class="navbar-brand" href="#">WizardLibrary</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
      <button
        id="toggleCartButton"
        class="btn btn-info alignRight"
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <span class="material-icons"> shopping_cart </span>
      </button>
    </nav>

    <app-book-list (addToCart)="addToCart($event)"></app-book-list>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="sidenavOpened">
    <ng-template [ngIf]="booksInCart.length > 0" [ngIfElse]="noBooksInCart">
      <div *ngFor="let book of booksInCart" class="flexRow">
        <div>
          {{ book.title }}
        </div>
        <div>
          {{ book.price }}
        </div>
        <button class="btn btn-danger">
          <span (click)="removeFromCart(book.isbn)" class="material-icons">
            delete
          </span>
        </button>
      </div>
    </ng-template>

    <ng-template #noBooksInCart>
      <div class="mt10">
        <p>Votre panier est vide</p>
      </div>
    </ng-template>
  </mat-sidenav>
</mat-sidenav-container>
