<h2>Commandes passées</h2>

<ng-template [ngIf]="validatedOrders.length > 0" [ngIfElse]="noPastOrders">
  <div class="pastOrder" *ngFor="let order of validatedOrders">
    <span>Date : {{ formatOrderDate(order.orderDate) }}</span>
    <div *ngFor="let cartItem of order.items">
      <div class="flexRow">
        <app-book-detail
          [book]="cartItem.book"
          [displaySynopsisBlock]="false"
        ></app-book-detail>
        <div class="flexColumn">
          <label for="bookQuantity">Quantité</label>
          <span id="bookQuantity">{{ cartItem.quantity }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noPastOrders>
  <div class="mt10">
    <p>Vous n'avez passé aucune commande.</p>
  </div>
</ng-template>
